@model eKnjiznica.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Selected Categories</dt>

        @foreach (var item in Model.Product.ProductCategories)
        {
            <dd class="col-sm-10">@item.Category.Name</dd>

        }
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Product.Id">Edit</a>
    }
<span><a asp-action="Index">Back to List</a></span>
    
</div>
